html {
  --custom-bg: #f1f1fa;
}

body {
  background: var(--custom-bg) !important;
}

#navigator-toolbox {
  padding-top: 3px;
  padding-bottom: 4px;
  background: var(--custom-bg) !important;
  border-bottom: 0 !important;
}

#nav-bar {
  background: var(--custom-bg) !important;
}

#sidebar-box {
  background: var(--custom-bg) !important;
}

#sidebar-splitter {
  border: none !important;
  background: transparent !important;
  width: 1px !important;
}

#TabsToolbar {
  visibility: collapse !important;
}

.titlebar-buttonbox-container {
  position: absolute;
  right: 0;
  top: 9px;
  display: flex;
  justify-content: center;
}

#nav-bar {
  width: calc(100% - 100px);
}

#sidebar-header {
  display: none;
}

#identity-icon-label {
  display: none;
}

#urlbar {
  left: 50% !important;
  transform: translateX(-50%);
  max-width: 960px !important;
}

#urlbar:not([breakout-extend]) #urlbar-background {
  background: none !important;
  background-color: transparent !important;
}

#sidebar-box {
  --uc-sidebar-width: 45px;
  --uc-sidebar-hover-width: 360px;
  --uc-autohide-sidebar-delay-before: 125ms;
  --uc-autohide-sidebar-delay-after: 300ms;
  --uc-autohide-transition-duration: 300ms;
  --uc-autohide-transition-type: ease-in-out;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 1;
}

#main-window[sizemode="fullscreen"] #sidebar-box {
  --uc-sidebar-width: 1px;
}

#sidebar-splitter {
  display: none;
}

#sidebar {
  transition: all var(--uc-autohide-transition-duration)
    var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay-after) !important;
  min-width: var(--uc-sidebar-width) !important;
}

#sidebar-box:hover > #sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: var(--uc-autohide-sidebar-delay-before) !important;
}

.sidebar-panel {
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

#tabbrowser-tabpanels, browser[primary="true"] {
  border-radius: 10px !important;
}

#tabbrowser-tabbox {
  margin: 5px !important;
}
